{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}

{% block extend_styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/compiled/gallery.css' %}" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/css/lightgallery.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/css/lg-transitions.min.css" />
{% endblock %}

{% block title %}
    Галерея
{% endblock %}

{% block content %}
    <div class="container">
	    <div id="js-gallery" class="row gallery">
            <section class="col-sm-8">
                <div class="js-gallery-images">
                    {% for image in images %}
                        <div data-src="{{ MEDIA_URL }}{{ image.url }}" class="gallery-image js-gallery-image">
                            {% thumbnail image.url "250x150" crop="center" as thumb %}
                                <img src="{{ thumb.url }}" class="img-responsive img-thumbnail">
                            {% empty %}
                                <img src="{% static 'images/no_preview.png' %}" class="img-responsive img-thumbnail">
                            {% endthumbnail %}
                            <div class="gallery-tags js-gallery-tags">
                                {% for tag in image.tags.all %}
                                    <button type="button" class="btn btn-primary gallery-tag js-gallery-tag">{{ tag }}</button>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <img src="{% static 'images/loading.gif' %}" class="load-gif" style="display: none">
            </section>
            <section class="col-sm-4">
                <div class="tags">
                    <div class="tags-options">
                        <div class="radio">
                            <label>
                                <input type="radio" name="tag-option" value="strict" checked>
                                Точное совпадение тэгов
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="tag-option" value="not-strict">
                                Хотя бы один тэг совпал
                             </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="tag-option" value="hard-option">
                                Хотя бы <input type="number" class="js-hard-option-num" value="2" min="2"> тэг(а/ов) совпал(о)
                            </label>
                        </div>
                    </div>
                    <div class="js-tags">
                        {% for tag in tags %}
                            <button type="button" class="btn btn-primary js-tag">{{ tag }}</button>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block extend_JS %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lightgallery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lg-thumbnail.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lg-zoom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lg-fullscreen.min.js"></script>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lg-hash.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lg-pager.min.js"></script>#}
    <script src="{% static 'js/gallery.js' %}"></script>
{% endblock %}
